<form #articleForm="ngForm" name="articleForm">
  <div class="card flex justify-content-center">
    <input
      name="title"
      type="text"
      placeholder="Title"
      pInputText
      id="title"
      [required]="true"
      [(ngModel)]="article.title"
    />
  </div>

  <div class="card flex justify-content-center">
    <p-fileUpload
      name="titleImage"
      (onSelect)="onSelect($event)"
      (onClear)="onClear()"
      (onRemove)="onRemove($event)"
      [showUploadButton]="false"
      cancelLabel="Clear"
      accept="image/*"
      [fileLimit]="1"
      [maxFileSize]="1500000"
    >
      <ng-template pTemplate="content">
        <ul *ngIf="selectedFiles as files">
          <li *ngFor="let file of files">
            {{ file.name }} - {{ file.size }} bytes
          </li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </div>

  <div class="card flex justify-content-center">
    <textarea
      name="description"
      rows="5"
      cols="30"
      placeholder="Description"
      pInputTextarea
      [required]="true"
      [(ngModel)]="article.description"
      [autoResize]="true"
    ></textarea>
  </div>

  <div class="card flex justify-content-center">
    <p-autoComplete
      name="category"
      appendTo="body"
      [style]="{ width: '100%' }"
      [inputStyle]="{ width: '100%' }"
      class="p-autocomplete"
      [dropdown]="true"
      field="name"
      [suggestions]="(allCategories$ | async) ?? []"
      (onSelect)="saveCategory($event)"
      (onDropdownClick)="loadCategories()"
      placeholder="Enter a category"
      [(ngModel)]="selectedCategory"
    ></p-autoComplete>
  </div>

  <div class="card flex justify-content-center">
    <p-autoComplete
      name="city"
      appendTo="body"
      [style]="{ width: '100%' }"
      [inputStyle]="{ width: '100%' }"
      class="p-autocomplete"
      [required]="true"
      (onKeyUp)="getSuggestions($event)"
      [(ngModel)]="selectedItem"
      [forceSelection]="true"
      field="name"
      [suggestions]="(suggestions$ | async) ?? []"
      (onSelect)="saveLonLat($event)"
      placeholder="Enter a place"
    ></p-autoComplete>
  </div>

  <div class="card flex justify-content-center">
    <button
      name="submit"
      (click)="onSubmit()"
      pButton
      pRipple
      label="Submit"
      class="p-button-success"
      [disabled]="!articleForm.valid"
    ></button>
  </div>
</form>
