<div class="side-navigation__menu-button" (click)="toggleSidebar()">
  <i-feather
    name="menu"
    class="side-navigation__menu-button-icon icon-white"
  ></i-feather>
  <h3 class="side-navigation__menu-button-label">Menu</h3>
</div>

<div
  class="side-navigation__menu-button"
  [routerLink]="['/moderator-dashboard', 'create-article']"
  routerLinkActive="router-link-active"
>
  <i-feather
    name="file-plus"
    class="side-navigation__menu-button-icon icon-white"
  ></i-feather>
  <h3 class="side-navigation__menu-button-label">New Draft</h3>
</div>

<div
  class="side-navigation__menu-button"
  [routerLink]="['/moderator-dashboard', 'articles-container', 'drafts']"
  routerLinkActive="router-link-active"
>
  <i-feather
    name="file-text"
    class="side-navigation__menu-button-icon icon-white"
  ></i-feather>
  <h3 class="side-navigation__menu-button-label">Drafts</h3>
</div>

<div
  class="side-navigation__menu-button"
  [routerLink]="['/moderator-dashboard', 'articles-container', 'posts']"
  routerLinkActive="router-link-active"
>
  <i-feather
    name="check-circle"
    class="side-navigation__menu-button-icon icon-white"
  ></i-feather>
  <h3 class="side-navigation__menu-button-label">Posts</h3>
</div>

<div
  class="side-navigation__menu-button"
  [routerLink]="['/moderator-dashboard', 'articles-container', 'archived']"
  routerLinkActive="router-link-active"
>
  <i-feather
    name="archive"
    class="side-navigation__menu-button-icon icon-white"
  ></i-feather>
  <h3 class="side-navigation__menu-button-label">Archived</h3>
</div>

<div class="bottom-buttons">
  <div
    class="side-navigation__menu-button"
    [routerLink]="['/moderator-dashboard', 'profile-page']"
    routerLinkActive="router-link-active"
  >
    <i-feather
      name="user"
      class="side-navigation__menu-button-icon icon-white"
    ></i-feather>
    <h3 class="side-navigation__menu-button-label">Profile</h3>
  </div>

  <div class="side-navigation__menu-button" (click)="logOut()">
    <i-feather
      name="log-out"
      class="side-navigation__menu-button-icon icon-white"
    ></i-feather>
    <h3 class="side-navigation__menu-button-label">Log Out</h3>
  </div>
</div>
