<div class="side-navigation__menu-button" (click)="toggleSidebar()">
  <i class="pi pi-bars prime-button side-navigation__menu-button-icon"></i>
  <h3 class="side-navigation__menu-button-label">Menu</h3>
</div>

<div class="side-navigation__menu-button" (click)="createNewArticleDraft()">
  <i class="pi pi-plus prime-button side-navigation__menu-button-icon"></i>
  <h3 class="side-navigation__menu-button-label">New Draft</h3>
</div>

<div class="side-navigation__menu-button" (click)="showDialog()">
  <i class="pi pi-tag prime-button side-navigation__menu-button-icon"></i>
  <h3 class="side-navigation__menu-button-label">New Category</h3>
  <p-dialog
    header="Enter category info"
    (onHide)="hideDialog()"
    [modal]="true"
    [closeOnEscape]="true"
    [(visible)]="visible"
    [style]="{ width: '50vw' }"
  >
    <form #categoryForm="ngForm" name="categoryForm">
      <div class="card flex justify-content-center">
        <input
          type="text"
          name="categoryName"
          placeholder="Category Name"
          pInputText
          id="categoryName"
          [(ngModel)]="category.name"
          [required]="true"
        />
      </div>
      <div class="card flex justify-content-center">
        <textarea
          name="categoryDescription"
          rows="5"
          cols="30"
          placeholder="Description"
          pInputTextarea
          [required]="true"
          [autoResize]="true"
          [(ngModel)]="category.description"
        ></textarea>
      </div>
      <div class="card flex justify-content-center">
        <button
          name="createCategory"
          (click)="createCategory(categoryForm)"
          pButton
          pRipple
          label="Submit"
          class="p-button-success"
          [disabled]="!categoryForm.valid"
        ></button>
      </div>
    </form>
  </p-dialog>
</div>

<div
  class="side-navigation__menu-button"
  [routerLink]="['/moderator-dashboard', 'articles-container', 'drafts']"
  routerLinkActive="router-link-active"
>
  <i class="pi pi-file-edit prime-button side-navigation__menu-button-icon"></i>
  <h3 class="side-navigation__menu-button-label">Drafts</h3>
</div>

<div
  class="side-navigation__menu-button"
  [routerLink]="['/moderator-dashboard', 'articles-container', 'posts']"
  routerLinkActive="router-link-active"
>
  <i
    class="pi pi-check-square prime-button side-navigation__menu-button-icon"
  ></i>
  <h3 class="side-navigation__menu-button-label">Posts</h3>
</div>

<div
  class="side-navigation__menu-button"
  [routerLink]="['/moderator-dashboard', 'articles-container', 'archives']"
  routerLinkActive="router-link-active"
>
  <i class="pi pi-trash prime-button side-navigation__menu-button-icon"></i>
  <h3 class="side-navigation__menu-button-label">Posts</h3>
</div>

<div class="bottom-buttons">
  <div
    class="side-navigation__menu-button"
    [routerLink]="['/moderator-dashboard', 'profile-page']"
    routerLinkActive="router-link-active"
  >
    <i class="pi pi-user prime-button side-navigation__menu-button-icon"></i>
    <h3 class="side-navigation__menu-button-label">Profile</h3>
  </div>

  <div class="side-navigation__menu-button" (click)="logOut()">
    <i
      class="pi pi-sign-out prime-button side-navigation__menu-button-icon"
    ></i>
    <h3 class="side-navigation__menu-button-label">Log Out</h3>
  </div>
</div>
