<header class="page-header js-page-header wrapper">
    <div class="grid">
      <div class="logo">
        <a href="#"><span>The</span> <span>Hotspot</span> <span>Herald</span></a>
      </div>
      <nav class="primary-navigation" aria-label="Primary Navigation">
        <ul class="nav-list">
          <li><a href="#">Articles</a></li>
          <li><a href="#">Video</a></li>
          <li class="more"><a (click)="toggleMoreOptions()">More</a>
            <ul class="more-options" *ngIf="showMoreOptions">
                <li style="width: 200px;">Option 1 haskjhda khdas k</li>
                <li>Option 2</li>
                <!-- Dodajte više opcija prema potrebi -->
              </ul>
        </li>
          <li class="search-icon"><a href="#">🔎</a></li>
        </ul>
      </nav>
    </div>
    <div class="grid search">
      <form action="" method="get"><label for="search">Search</label><input type="text" id="search" /><input type="submit" value="Search" /></form>
    </div>
  </header>