<div class="search-div top-navigation__search">
  <i-feather name="search" style="color: ccc"></i-feather>
  <i class="top-navigation__search-icon fas fa-search"></i>
  <input
    (keyup)="onSearch(getValue($event))"
    class="top-navigation__search-input"
    placeholder="Search..."
  />
</div>
<h1>{{ articleType$ | async | titlecase }}</h1>
<div class="scrollable">
  <div class="card-container">
    <p-card
      *ngFor="let article of articles$ | async as articles"
      [header]="article.title"
      [style]="{ width: '100%', height: '100%' }"
      class="card"
    >
      <ng-template pTemplate="header">
        <img
          (click)="showDialog(article._id)"
          style="cursor: pointer"
          [alt]="'data:image/png;charset=utf-8;base64,' + article.titleImage"
          [src]="'data:image/jpeg;charset=utf-8;base64,' + article.titleImage"
          class="card-image"
        />
        <p-dialog
          *ngIf="article._id === visibleArticleId"
          [header]="article.title"
          [maximizable]="true"
          (onHide)="hideDialog()"
          [(visible)]="visibleDialog"
          [style]="{ width: '50vw', height: '300px' }"
        >
          <div [innerHTML]="article.contents"></div>
        </p-dialog>
      </ng-template>
      <p>
        {{ article.description }}
      </p>
      <ng-template pTemplate="footer">
        <p-confirmDialog></p-confirmDialog>
        <p-button
          (click)="post($event, article._id)"
          *ngIf="article.state != 'POST'"
          label="Post"
        ></p-button>
        <p-button
          (click)="archive($event, article._id)"
          *ngIf="article.state != 'ARCHIVE'"
          label="Archive"
          styleClass="p-button-secondary"
          [style]="{ 'margin-left': '.5em' }"
        ></p-button>
        <p-button
          (onClick)="edit($event, article._id, article.contents)"
          *ngIf="article.state != 'POST'"
          label="Edit"
          styleClass="p-button-secondary"
          [style]="{ 'margin-left': '.5em' }"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
