<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <form
    class="container"
    fxLayout="column"
    fxLayoutGap="20px"
    [formGroup]="moderatorForm"
  >
    <h1>Sign Up</h1>
    <div
      *ngIf="errMsg.length > 0"
      fxLayout="column"
      fxLayoutGap="5px"
      class="error-messages"
    >
      <span *ngFor="let msg of errMsg">{{ msg }}</span>
    </div>
    <input type="text" placeholder="Username" formControlName="username" />
    <input type="password" placeholder="Password" formControlName="password" />
    <input type="text" placeholder="Email" formControlName="email" />
    <input type="text" placeholder="First Name" formControlName="firstName" />
    <input type="text" placeholder="Last Name" formControlName="lastName" />
    <button (click)="onSubmit()">Submit</button>
  </form>
</div>
